<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2"></div>
</div>

    <body>
        <h1>Edit listings data</h1><br>
        <form class="needs-validation" novalidate action="/listings/<%= listingData._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            
            <div>
                <label for="title" class="form-label">Title</label>
                <input required class="form-control" type="text" name="listing[title]" value="<%= listingData.title %>">
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Invalid title!</div><br><br>
            </div>
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea required cols="20" rows="6" class="form-control" name="listing[description]"><%= listingData.description%></textarea>
                <div class="valid-feedback">Description looks good!</div>
                <div class="invalid-feedback">Invalid description!</div><br><br>
            </div>
            <div>
                <label for="image" class="form-label">Upload new image</label>
                <input class="form-control" type="file" name="listing[image]">
            </div>
            <div class="col-md-4"><br><br>
                <label for="price" class="form-label">Price</label>
                <input required class="form-control" type="number" name="listing[price]" value="<%= listingData.price %>">
                <div class="valid-feedback">Price looks good!</div>
                <div class="invalid-feedback">Invalid price input!</div><br><br>
            </div>
            <div class="col-md-8">
                <label for="country" class="form-label">Country</label>
                <input required class="form-control" type="text" name="listing[country]" value="<%= listingData.country %>">
                <div class="valid-feedback">Country looks good!</div>
                <div class="invalid-feedback">Invalid country input!</div><br><br>
            </div>
            <div>
                <label for="location" class="form-label">Location</label>
                <input required class="form-control" type="text" name="listing[location]" value="<%= listingData.location %>">
                <div class="valid-feedback">Location looks good!</div>
                <div class="invalid-feedback">Invalid location input!</div><br><br>
            </div>


            <button class="btn btn-dark edit-btn col-12">Edit</button>
        </form>
    </body><br><br>